* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f5f5;
    color: black; /* Default text color */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: black;
    z-index: 1111;
}

.header-right {
    display: flex; 
    align-items: center; 
    margin-left: auto;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 15px;
}

header .logo h1 {
    font-size: 30px;
    color: #f7f5f5;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 1px 1px 4px #0a0a0a66;
    margin: 0;
}

header ul {
    display: flex;
    margin: 0;
    padding-left: 20px;
    margin-left: auto;
}

header ul li {
    position: relative;
    padding: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 18px;
    transition: color 0.3s ease;
}

header ul li:hover a {
    color: #03a9f4;
}

header ul li ul {
    position: absolute;
    display: none;
    background-color: black;
    padding: 10px;
}

header ul li:hover ul {
    display: block;
}

.bars {
    display: none; /* Hide bars on larger screens */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px; /* To avoid header overlap */
}

.image {
    /* Add styles for the image */
}

.text {
    max-width: 600px;
}

.a {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #0a0a0a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #03a9f4;
}

.team-section {
    margin: 50px 0;
    padding: 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 10px;
}

.label {
    font-weight: bold;
    text-align: center;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
}

footer a {
    color: #E1D9D1;
    text-decoration: none;
    margin: 0 10px;
}
